<csps-page-template>

  <ng-container header>
    Product Rule List
  </ng-container>

  <ng-container toolbar>
    <button type="button" placement="bottom" ngbtooltip="Open Workflow" class="btn btn-sm btn-primary">
      Test btn 1
    </button>
    <button type="button" placement="bottom" ngbtooltip="Manage Versions" class="btn btn-sm btn-primary">
      Test btn 2
    </button>
    <button type="button" placement="bottom" ngbtooltip="Help" class="btn btn-sm btn-primary">
      Test btn 3
    </button>
  </ng-container>

  <ng-container body>
    TODO
  </ng-container>

</csps-page-template>
